@import 'CardComponent.css';
@import 'NameComponent.css';
@import 'ImageComponent.css';
@import 'StatsComponent.css';
@import 'GameStatusComponent.css';
@import 'HeaderComponent.css';

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}
